.container {
  text-align: center;
  background-color: lightgray;
  height: 2000px;

}

.container li {
  color: navy;
}

.form {
  display: flex;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  
}

.form input{
  margin: auto;
  width: 150px;

}

.form button{
  margin: auto;
  width: 150px;
  background-color: blue;
color: white;
}

#createselect {
   margin: auto;
  width: 150px;
}

.roster {
margin: auto;
background-color: white;
height: 700px;
width: 700px;
}